/* Styles for DesignIterator */
.iterator-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.header-left {
	display: flex;
	align-items: center;
}

.model-tag {
	margin-left: 14px;
	color: #888;
	font-size: 14px;
}
